params:
  epochs: 3
  batch_size: 32
  no_classes: 10
  input_shape: [28,28]
  loss_function: sparse_categorical_crossentropy
  metrices: accuracy
  optimizer: SGD
  validation_datasize: 5000

artifacts:
  artifacts_dir: artifacts
  model_dir: model
  plots_dir: plots
  checkpoint_dir: checkpoints

logs:
  logs_dir: logs_dir